<!DOCTYPE html>
<html lang="en" ng-app="professoresModulo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="imagen/TiredOfWar.png">
	
    <title>Professores</title>

    <!-- Bootstrap core CSS -->
	<script src="js/angular.min.js"></script>

	<link href="css/estilos.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/carousel.css" rel="stylesheet">

    


  </head>
<!-- NAVBAR
================================================== -->
  <body ng-controller="professoresController">
    <div class="navbar-default">
      <div class="container-fullscreen">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Attempt Web</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="professores.html">Professores</a></li>
                    <li><a href="professoresAbas.html">Professores Abas</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Alunos</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Turmas</li>
                    <li><a href="#">Hórarios</a></li>
                    <li><a href="#">Sobre Escola</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!--Form-->

	<div class="container">
	   <h1>Cadastro de Professores</h1>
	   <br>
	   <hr>
		<form class="form-horizontal">
		 <div class="form-group">
		  <label for="codigo" class="col-sm-2 control-label">Código</label>
		  <div class="col-sm-2">
		    <input type="text" readonly ng-model="professor.codigo" class="form-control" id="codigo" placeholder="Código">
		  </div>

		  <div align="center" class="col-sm-2">
			<button type="submit" ng-click="limparCampos()" class="btn btn-default">Limpar</button>
		  </div>
		 </div>

		  <div class="form-group">
		  	<label for="nome" class="col-sm-2 control-label">Nome</label>
		  	  <div class="col-sm-4">		    
		    	<input type="text" ng-model="professor.nome" class="form-control" id="nome" placeholder="Nome">
		      </div>
		  </div>

		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		      <div class="col-sm-4">
		    	<input type="email" ng-model="professor.email" class="form-control" id="email" placeholder="Email">
		      </div>
		  </div>

		  <div class="form-group">
		    <label for="fone" class="col-sm-2 control-label">Fone</label>
		      <div class="col-sm-4">
		    	<input type="text" ng-model="professor.fone" class="form-control" id="fone" placeholder="Fone">
		      </div>
		  </div>
		  
		  <div align="center">
		    <button type="submit" ng-click="limparCampos()" class="btn btn-primary">Novo</button>
		    <button ng-disabled="!professor.nome" type="submit" ng-click="salvar()" class="btn btn-success">Gravar</button>
		    <button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
		  </div>

		</form>
		<br>
		<!--Busca-->
		<form align="right" class="form-inline">
			<div class="form-group">
		    	<input type="pesquisa" ng-model="pesquisaProfessor" class="form-control" id="pesquisa" placeholder="Busca">
		  	</div>
		</form>
		<br>
		<!--/.Busca-->

	</div>
    <!--End Form-->

    <!--Tabelas-->
    <div class="container">
	    <table class="table table-condensed table-hover">
	 		<th>Código</th>
	 		<th>Nome</th>
	 		<th>Email</th>
	 		<th>Fone</th>
	 		<tr ng-repeat="professoresTabela in professores | filter:pesquisaProfessor" ng-click="selecionaProfessor(professoresTabela)">
	 			<td>{{professoresTabela.codigo}}</td>
	 			<td>{{professoresTabela.nome}}</td>
	 			<td>{{professoresTabela.email}}</td>
	 			<td>{{professoresTabela.fone}}</td>
	 		</tr>
		</table>
	</div>
    <!--End Tabelas-->

    <!-- FOOTER -->
    <div class="container">
	    <footer>
	      <p class="pull-right"><a href="#">Back to top</a></p>
	      <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	    </footer>
	</div>
	<!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="controller/professores.js"></script>
    <!--<script src="js/angular.min.js"></script>-->

  </body>
</html>
