#navbar-orientation {

}

#navbar-home {
	color: green;
}

#style-button {
	background-color: orangered;
	border: red;
	color: white;
}

h1 {
	color: dodgerblue;
}

th {
	background-color: lightgray;
	color: black;
}
