<!DOCTYPE html>
<html lang="en" ng-app="cursoModulo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	
	
    <link rel="icon" href="image/favicon.png">

    <title>Attempt Application</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/estilos.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <link href="css/carousel.css" rel="stylesheet">
	<script src="controller/cursos.js"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body ng-controller="cursoController">
    
	<div ng-include  src="'menus.html'"></div>
	
	
	<div class="container">
	
	  <h1>Cursos</h1><br>

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Lista de Cursos</a></li>
		<li role="presentation"><a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro de Cursos</a></li>
		
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="lista"><br>
			<label>Lista de Cursos</label><br>
			<div>
				<form align="right" class="form-inline">
					<div class="form-group">
						<br>
						<input type="text" ng-model="pesquisaCursos" class="form-control" id="pesquisa" placeholder="Digite a pesquisa">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
			
			<br>
			
			<div class="container">
				<table class="table table-condensed table-hover">
					<th>Código</th>
					<th>Descrição</th>
					<th>Dias / Horários</th>
					<th>Professor</th>
					<tr ng-repeat="cursosTabela in cursos | filter:pesquisaCursos" ng-click="selecionaCurso(cursosTabela)">
						<td>{{cursosTabela.codigo}}</td>
						<td>{{cursosTabela.nome}}</td>
						<td>{{cursosTabela.diashorarios}}</td>
						<td>{{cursosTabela.professor.nome}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="cadastro"><br>
			<label>Cadastro de Cursos</label><br>
			<form class="form-horizontal">
				 <div class="form-group">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-2">
						<input type="text" required ng-model="curso.codigo" class="form-control" id="codigo" placeholder="Código">
					</div>
					<div align="center" class="col-sm-2">
						<button type="submit" ng-click="limparCampos()" class="btn btn-default">Limpar</button>
					</div>	
				 </div>
				 <div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" required ng-model="curso.nome" class="form-control" id="nome" placeholder="Nome">
					</div>
				 </div>
				 <div class="form-group">
					<label for="diashorarios" class="col-sm-2 control-label">Dias / Horários</label>
					<div class="col-sm-4">
						<input type="text" ng-model="curso.diashorarios" class="form-control" id="diashorarios" placeholder="Dias / Horários">
					</div>
				 </div>
				 <div class="form-group">
					<label for="professor" class="col-sm-2 control-label">Professor</label>
					<div class="col-sm-4">
						<select class="form-control" ng-model="curso.professor"
						 ng-options="professor.nome for professor in professores track by professor.codigo">
						</select>
					</div>
				 </div>
				  
				 <div align="center" class="form-group">
					  <button type="submit" ng-click="limparCampos()" class="btn btn-primary">Novo</button>
					  <button ng-disabled="!professor.nome" ng-disabled="!professor.codigo" type="submit" ng-click="salvar()" class="btn btn-success">Gravar</button>
					  <button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
				 </div>
				</form>
		</div>
				
	  </div>

	</div>
	
	
		
		
	
	<hr>
 
      <!-- FOOTER -->
	  
	  <div class="container">
		  <footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		  </footer>
	  </div>
	  
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>
